<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="gol-feed" value="https://golhub.pkgs.visualstudio.com/_packaging/Sabre%40Local/nuget/v3/index.json" />
		<add key="eComponent-Foundation" value="https://golhub.pkgs.visualstudio.com/_packaging/eComponent.Foundation/nuget/v3/index.json" />
		<add key="sabre" value="https://golhub.pkgs.visualstudio.com/_packaging/Sabre/nuget/v3/index.json" />
		<add key="EAF" value="https://pkgs.dev.azure.com/golhub/_packaging/EAF/nuget/v3/index.json" protocolVersion="3"/>
	</packageSources>
	<packageSourceCredentials>
		<gol-feed>
			<add key="Username" value="sys.azuredevops@voegol.com.br" />
			<add key="ClearTextPassword" value="dffzysk3zwcin3zxs5xdca2rkcfr3y4wudt3m4j7cg4ty65wrnjq" />
		</gol-feed>
		<eComponent-Foundation>
			<add key="Username" value="sys.azuredevops@voegol.com.br" />
			<add key="ClearTextPassword" value="dffzysk3zwcin3zxs5xdca2rkcfr3y4wudt3m4j7cg4ty65wrnjq" />
		</eComponent-Foundation>
		<sabre>
			<add key="Username" value="sys.azuredevops@voegol.com.br" />
			<add key="ClearTextPassword" value="dffzysk3zwcin3zxs5xdca2rkcfr3y4wudt3m4j7cg4ty65wrnjq" />
		</sabre>
		<EAF>
			<add key="Username" value="sys.azuredevops@voegol.com.br" />
			<add key="ClearTextPassword" value="dffzysk3zwcin3zxs5xdca2rkcfr3y4wudt3m4j7cg4ty65wrnjq" />
		</EAF>
	</packageSourceCredentials>
</configuration>